$font-stack:   Allan;
;

body {
  font: 18px $font-stack;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

.foo {
	color: black;
	border: 1px solid back;
}

.bar {
	@extend .foo;
	background-color: red;
}





