body {
  background-color: lightblue; 
}

nav {
  margin-left: 10px;
}

img {
  margin-left: 15px;
  margin-bottom: 10px;
}

table {
  margin-top: 10px;
}

table:a{
  color: DarkBlue;
}

h1 {
  color: navy;
  margin-left: 20px;
  margin-bottom: 15px;
  padding-top:1px;
  font-size: 250%;
}


h2 {
	color: purple;
}

button {
color: #1D9AF2;
background-color: #292D3E;
border: 1px solid #1D9AF2;
border-radius: 4px;
padding: 0 15px;
margin-bottom: 10px;
cursor: pointer;
height:32px;
font-size:14px;
transition: all 0.2s ease-in-out;
}
button:hover {
transform: scale(1.1);
}

.category_table {
	color: blue;

}

#about {

	color: grey;
}



/* SOMETHING IS OFF HERE
table .category-table tr:nth-child(1) {
font-weight: bold;
}*/

@media (min-width: 500px) {
    body {
        background-color: orange;
        }
    }
    @media (max-width: 499px) {
    body {
    	background-color: beige;
     }
}


