body {
  background-color: lightblue; 
}

h1 {
  color: navy;
  margin-left: 20px;
  margin-bottom: 1px;
  padding-top:1px;
}

h2 {
	color: purple;
}

.category_table {
	color: green;

}

#about {

	color: grey;
}



/* SOMETHING IS OFF HERE
table .category-table tr:nth-child(1) {
font-weight: bold;
}*/

@media (min-width: 500px) {
    body {
        background-color: orange;
        }
    }
    @media (max-width: 499px) {
    body {
    	background-color: beige;
     }
}

